<!-- Herencia de estructura de plantilla padre -->
{% extends 'base.html' %}

<!-- Carga de recursos estáticos -->
{% load static %}

<!-- Declaración de contenido de bloque 'title' -->
{% block title %} Usuarios {% endblock %}

<!-- Declaración de contenido de bloque 'extra_css' -->
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'usuarios/styles.css' %}">
{% endblock %}

<!-- Declaración de contenido de bloque 'extra_js' -->
{% block extra_js %}
    <script src="{% static 'usuarios/scripts.js' %}"></script>
{% endblock %}

<!-- Declaración de contenido de bloque 'content' -->
{% block content %}
     <h1>Bienvenido a la página de Inicio de la Aplicación Usuarios</h1>
{% endblock %}


